Clean-up raw Schengen input file and save as silver statistics

In [3]:
import schengentools.visastatsparser as vp
job = vp.Parser(2016)
job.extract('../data/bronze/2016_consulates_schengen_visa_stats_en.xlsx')
job.transform()
job.load()
df = job.df

Input file loaded into dataframe
Renamed columns
Removed irrelevant rows such as summary rows
Selected columns
Replaced applied, issued and not issued null values with 0
Calculate refusal rate as the not issued share of the total issued and not issued
Added column with year issued and not issued

C:\Users\mogens.hobolth\Miniconda3\envs\myenv\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Data quality checks

In [4]:
df[df["visas_applied"] != df["visas_issued"] + df["visas_not_issued"]]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
1,Austria,ALGERIA,ALGIERS,1961.0,1478.0,472.0,0.242051,2016
3,Austria,AUSTRALIA,CANBERRA,1942.0,1927.0,11.0,0.005676,2016
5,Austria,BOSNIA AND HERZEGOVINA,SARAJEVO,89.0,82.0,2.0,0.023810,2016
6,Austria,BRAZIL,BRASILIA,24.0,23.0,0.0,0.000000,2016
7,Austria,BULGARIA,SOFIA,236.0,225.0,9.0,0.038462,2016
...,...,...,...,...,...,...,...,...
1874,Switzerland,UNITED KINGDOM,LONDON,10294.0,10049.0,192.0,0.018748,2016
1876,Switzerland,USA,"NEW YORK, NY",2763.0,2686.0,8.0,0.002970,2016
1877,Switzerland,USA,"SAN FRANCISCO, CA",2839.0,2820.0,8.0,0.002829,2016
1878,Switzerland,USA,"WASHINGTON, DC",899.0,859.0,13.0,0.014908,2016
1879,Switzerland,VIETNAM,HO CHI MINH,2642.0,2473.0,155.0,0.058980,2016

In [5]:
df[df["visa_refusal_rate"]>1]

Empty DataFrame
Columns: [schengen_state, origin_country, origin_consulate, visas_applied, visas_issued, visas_not_issued, visa_refusal_rate, year]
Index: []

In [6]:
df[df["visa_refusal_rate"].isna()]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
64,Belgium,AUSTRIA,VIENNA,2.0,0.0,0.0,NaN,2016
309,Finland,AUSTRIA,VIENNA,4.0,0.0,0.0,NaN,2016
310,Finland,BELGIUM,BRUSSELS,2.0,0.0,0.0,NaN,2016
312,Finland,CANADA,OTTAWA,1.0,0.0,0.0,NaN,2016
339,Finland,NORWAY,OSLO,16.0,0.0,0.0,NaN,2016
351,Finland,SPAIN,MADRID,7.0,0.0,0.0,NaN,2016
362,Finland,ZAMBIA,LUSAKA,1.0,0.0,0.0,NaN,2016
594,Germany,ESTONIA,TALLINN,3.0,0.0,0.0,NaN,2016
1078,Lithuania,GREECE,ATHENS,2.0,0.0,0.0,NaN,2016
1178,Netherlands,CZECH REPUBLIC,PRAGUE,5.0,0.0,0.0,NaN,2016
1288,Norway,ETHIOPIA,ADDIS ABEBA,1.0,0.0,0.0,NaN,2016
1370,Poland,HUNGARY,BUDAPEST,8.0,0.0,0.0,NaN,2016
1409,Poland,SWEDEN,STOCKHOLM,6.0,0.0,0.0,NaN,2016
1637,Spain,GERMANY,HAMBURG,6.0,0.0,0.0,NaN,2016
1647,Spain,HUNGARY,BUDAPEST,1.0,0.0,0.0,NaN,2016
1736,Sweden,BOLIVIA,LA PAZ,1.0,0.0,0.0,NaN,2016
1740,Sweden,CANADA,OTTAWA,4.0,0.0,0.0,NaN,2016
1745,Sweden,CONGO (DEMOCRATIC REPUBLIC),KINSHASA,1.0,0.0,0.0,NaN,2016
1750,Sweden,FRANCE,PARIS,7.0,0.0,0.0,NaN,2016
1751,Sweden,GERMANY,BERLIN,6.0,0.0,0.0,NaN,2016
1752,Sweden,GREECE,ATHENS,10.0,0.0,0.0,NaN,2016
1754,Sweden,HONG KONG S.A.R.,HONG KONG,2.0,0.0,0.0,NaN,2016
1761,Sweden,ITALY,ROME,9.0,0.0,0.0,NaN,2016
1767,Sweden,MOZAMBIQUE,MAPUTO,5.0,0.0,0.0,NaN,2016
1775,Sweden,SINGAPORE,SINGAPORE,3.0,0.0,0.0,NaN,2016
1779,Sweden,SUDAN,KHARTOUM,50.0,0.0,0.0,NaN,2016
1784,Sweden,UGANDA,KAMPALA,1.0,0.0,0.0,NaN,2016
1821,Switzerland,GERMANY,MUNICH,1.0,0.0,0.0,NaN,2016

In [7]:
df.describe()

,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
count,1880.000000,1880.000000,1880.000000,1852.000000,1880.0
mean,8081.118085,7413.678191,555.079255,0.096524,2016.0
std,28305.178910,26963.252889,2502.942093,0.148743,0.0
min,1.000000,0.000000,0.000000,0.000000,2016.0
25%,58.000000,46.750000,1.000000,0.004095,2016.0
50%,874.500000,686.000000,30.500000,0.034641,2016.0
75%,4616.000000,3813.250000,346.250000,0.125000,2016.0
max,465933.000000,463409.000000,71257.000000,1.000000,2016.0