Clean-up raw Schengen input file and save as silver statistics

In [1]:
import schengentools.visastatsparser as vp
job = vp.Parser(2018)
job.extract('../data/bronze/2018-consulates-schengen-visa-stats.xlsx')
job.transform()
job.load()
df = job.df

Input file loaded into dataframe
Renamed columns
Removed irrelevant rows such as summary rows
Selected columns
Replaced applied, issued and not issued null values with 0
Calculate refusal rate as the not issued share of the total issued and not issued
Added column with year issued and not issued

C:\Users\mogens.hobolth\Miniconda3\envs\myenv\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Data quality checks

In [2]:
df[df["visas_applied"] != df["visas_issued"] + df["visas_not_issued"]]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
0,Austria,ALBANIA,TIRANA,62.0,32.0,9.0,0.219512,2018
1,Austria,ALGERIA,ALGIERS,2481.0,1658.0,822.0,0.331452,2018
3,Austria,AUSTRALIA,CANBERRA,2776.0,2653.0,122.0,0.043964,2018
4,Austria,AZERBAIJAN,BAKU,1976.0,1895.0,79.0,0.040020,2018
7,Austria,BULGARIA,SOFIA,217.0,199.0,5.0,0.024510,2018
...,...,...,...,...,...,...,...,...
1894,Switzerland,USA,"ATLANTA, GA",1597.0,1592.0,3.0,0.001881,2018
1895,Switzerland,USA,"NEW YORK, NY",3561.0,3444.0,17.0,0.004912,2018
1896,Switzerland,USA,"SAN FRANCISCO, CA",3642.0,3623.0,6.0,0.001653,2018
1897,Switzerland,USA,"WASHINGTON, DC",1066.0,1022.0,30.0,0.028517,2018
1899,Switzerland,VIETNAM,HO CHI MINH,3679.0,3334.0,301.0,0.082806,2018

In [3]:
df[df["visa_refusal_rate"]>1]

Empty DataFrame
Columns: [schengen_state, origin_country, origin_consulate, visas_applied, visas_issued, visas_not_issued, visa_refusal_rate, year]
Index: []

In [4]:
df[df["visa_refusal_rate"].isna()]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
175,Czech Republic,GREECE,ATHENS,1.0,0.0,0.0,NaN,2018
313,Finland,BELGIUM,BRUSSELS,5.0,0.0,0.0,NaN,2018
315,Finland,CANADA,OTTAWA,1.0,0.0,0.0,NaN,2018
324,Finland,FRANCE,PARIS,1.0,0.0,0.0,NaN,2018
326,Finland,GREECE,ATHENS,3.0,0.0,0.0,NaN,2018
333,Finland,ITALY,ROME,1.0,0.0,0.0,NaN,2018
345,Finland,NORWAY,OSLO,2.0,0.0,0.0,NaN,2018
357,Finland,SPAIN,MADRID,11.0,0.0,0.0,NaN,2018
358,Finland,SWEDEN,STOCKHOLM,1.0,0.0,0.0,NaN,2018
491,France,PARAGUAY,ASUNCION,1.0,0.0,0.0,NaN,2018
556,Germany,BELGIUM,BRUSSELS,2.0,0.0,0.0,NaN,2018
1208,Netherlands,LUXEMBOURG,LUXEMBOURG,1.0,0.0,0.0,NaN,2018
1244,Netherlands,SLOVAKIA,BRATISLAVA,2.0,0.0,0.0,NaN,2018
1304,Norway,ITALY,ROME,1.0,0.0,0.0,NaN,2018
1576,Slovenia,FRANCE,PARIS,4.0,0.0,0.0,NaN,2018
1645,Spain,FRANCE,BORDEAUX,1.0,0.0,0.0,NaN,2018
1647,Spain,FRANCE,MARSEILLE,1.0,0.0,0.0,NaN,2018
1753,Sweden,ALGERIA,ALGIERS,5.0,0.0,0.0,NaN,2018
1754,Sweden,ARGENTINA,BUENOS AIRES,1.0,0.0,0.0,NaN,2018
1757,Sweden,BOLIVIA,LA PAZ,6.0,0.0,0.0,NaN,2018
1764,Sweden,CROATIA,ZAGREB,1.0,0.0,0.0,NaN,2018
1768,Sweden,FRANCE,PARIS,6.0,0.0,0.0,NaN,2018
1769,Sweden,GERMANY,BERLIN,23.0,0.0,0.0,NaN,2018
1770,Sweden,GREECE,ATHENS,14.0,0.0,0.0,NaN,2018
1778,Sweden,ITALY,ROME,21.0,0.0,0.0,NaN,2018
1784,Sweden,MALI,BAMAKO,4.0,0.0,0.0,NaN,2018
1785,Sweden,MEXICO,MEXICO CITY,3.0,0.0,0.0,NaN,2018
1787,Sweden,MOZAMBIQUE,MAPUTO,20.0,0.0,0.0,NaN,2018
1796,Sweden,SINGAPORE,SINGAPORE,7.0,0.0,0.0,NaN,2018
1799,Sweden,SPAIN,MADRID,48.0,0.0,0.0,NaN,2018
1800,Sweden,SUDAN,KHARTOUM,19.0,0.0,0.0,NaN,2018
1805,Sweden,UGANDA,KAMPALA,83.0,0.0,0.0,NaN,2018
1812,Sweden,ZIMBABWE,HARARE,1.0,0.0,0.0,NaN,2018

In [5]:
df.describe()

,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
count,1900.000000,1900.000000,1900.000000,1867.000000,1900.0
mean,8429.788947,7508.043158,810.190526,0.124042,2018.0
std,31030.052644,29361.942782,4109.914954,0.170140,0.0
min,0.000000,0.000000,0.000000,0.000000,2018.0
25%,67.500000,50.750000,2.000000,0.009229,2018.0
50%,892.000000,703.500000,38.500000,0.052776,2018.0
75%,4561.000000,3648.250000,470.000000,0.178263,2018.0
max,541080.000000,538601.000000,123565.000000,1.000000,2018.0