Clean-up raw Schengen input file and save as silver statistics

In [1]:
import schengentools.visastatsparser as vp
job = vp.Parser(2021)
job.extract('../data/bronze/Visa statistics for consulates 2021_0.xlsx')
job.transform()
job.load()
df = job.df

Input file loaded into dataframe
Renamed columns
Removed irrelevant rows such as summary rows
Selected columns
Replaced applied, issued and not issued null values with 0
Calculate refusal rate as the not issued share of the total issued and not issued
Added column with year issued and not issued

/Users/hobolthwagner/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Data quality checks

In [2]:
df[df["visas_applied"] != df["visas_issued"] + df["visas_not_issued"]]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
0,Austria,ALBANIA,TIRANA,32.0,23.0,7.0,0.233333,2021
7,Austria,BULGARIA,SOFIA,227.0,221.0,4.0,0.017778,2021
13,Austria,CROATIA,ZAGREB,216.0,170.0,31.0,0.154229,2021
15,Austria,CYPRUS,NICOSIA,671.0,655.0,11.0,0.016517,2021
18,Austria,GERMANY,MUNICH,133.0,120.0,12.0,0.090909,2021
...,...,...,...,...,...,...,...,...
1677,Switzerland,UNITED KINGDOM,LONDON,1715.0,1675.0,28.0,0.016442,2021
1679,Switzerland,USA,"NEW YORK, NY",812.0,782.0,10.0,0.012626,2021
1680,Switzerland,USA,"SAN FRANCISCO, CA",764.0,757.0,4.0,0.005256,2021
1681,Switzerland,USA,"WASHINGTON, DC",275.0,271.0,1.0,0.003676,2021
1683,Switzerland,VIETNAM,HO CHI MINH,158.0,107.0,0.0,0.000000,2021

In [3]:
df[df["visa_refusal_rate"]>1]

Empty DataFrame
Columns: [schengen_state, origin_country, origin_consulate, visas_applied, visas_issued, visas_not_issued, visa_refusal_rate, year]
Index: []

In [4]:
df[df["visa_refusal_rate"].isna()]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
86,Belgium,GREECE,ATHENS,1.0,0.0,0.0,NaN,2021
124,Belgium,SOUTH AFRICA,JOHANNESBURG,1.0,0.0,0.0,NaN,2021
259,Denmark,UKRAINE,KYIV,3.0,0.0,0.0,NaN,2021
283,Finland,ARGENTINA,BUENOS AIRES,1.0,0.0,0.0,NaN,2021
302,Finland,LITHUANIA,VILNIUS,1.0,0.0,0.0,NaN,2021
384,France,FRANCE,PARIS,27.0,0.0,0.0,NaN,2021
515,Germany,CZECH REPUBLIC,PRAGUE,1.0,0.0,0.0,NaN,2021
521,Germany,ESTONIA,TALLINN,1.0,0.0,0.0,NaN,2021
634,Germany,VENEZUELA,CARACAS,0.0,0.0,0.0,NaN,2021
639,Greece,ALBANIA,GJIROKASTER,1.0,0.0,0.0,NaN,2021
868,Italy,HOLY SEE (VATICAN CITY STATE),VATICAN CITY,3.0,0.0,0.0,NaN,2021
973,Latvia,ISRAEL,TEL AVIV,1.0,0.0,0.0,NaN,2021
1031,Malta,ALGERIA,ALGIERS,1.0,0.0,0.0,NaN,2021
1090,Netherlands,ITALY,ROME,2.0,0.0,0.0,NaN,2021
1113,Netherlands,PORTUGAL,LISBON,1.0,0.0,0.0,NaN,2021
1122,Netherlands,SLOVAKIA,BRATISLAVA,17.0,0.0,0.0,NaN,2021
1142,Netherlands,USA,"CHICAGO, IL",2.0,0.0,0.0,NaN,2021
1160,Norway,IRAN,TEHERAN,0.0,0.0,0.0,NaN,2021
1164,Norway,NETHERLANDS,THE HAGUE,1.0,0.0,0.0,NaN,2021
1380,Slovenia,ALBANIA,TIRANA,1.0,0.0,0.0,NaN,2021
1420,Spain,BELGIUM,BRUSSELS,1.0,0.0,0.0,NaN,2021
1463,Spain,GERMANY,MUNICH,1.0,0.0,0.0,NaN,2021
1483,Spain,ITALY,NAPLES,1.0,0.0,0.0,NaN,2021
1635,Switzerland,ITALY,MILAN,4.0,0.0,0.0,NaN,2021

In [5]:
df.describe()

,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
count,1684.000000,1684.000000,1684.000000,1660.000000,1684.0
mean,1737.591449,1422.968527,225.182304,0.133982,2021.0
std,6832.647317,6202.054853,890.808337,0.171245,0.0
min,0.000000,0.000000,0.000000,0.000000,2021.0
25%,24.000000,19.750000,1.000000,0.005344,2021.0
50%,172.500000,143.000000,9.500000,0.071429,2021.0
75%,834.250000,638.250000,104.250000,0.199576,2021.0
max,154339.000000,149886.000000,17871.000000,1.000000,2021.0