Clean-up raw Schengen input file and save as silver statistics

In [1]:
import schengentools.visastatsparser as vp
job = vp.Parser(2019)
job.extract('../data/bronze/2019-consulates-schengen-visa-stats.xlsx')
job.transform()
job.load()
df = job.df

Input file loaded into dataframe
Renamed columns
Removed irrelevant rows such as summary rows
Selected columns
Replaced applied, issued and not issued null values with 0
Calculate refusal rate as the not issued share of the total issued and not issued
Added column with year issued and not issued

C:\Users\mogens.hobolth\Miniconda3\envs\myenv\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Data quality checks

In [2]:
df[df["visas_applied"] != df["visas_issued"] + df["visas_not_issued"]]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
3,Austria,AUSTRALIA,CANBERRA,3271.0,3213.0,56.0,0.017131,2019
10,Austria,CHINA,BEIJING,46670.0,45599.0,1072.0,0.022969,2019
17,Austria,ETHIOPIA,ADDIS ABEBA,828.0,804.0,23.0,0.027811,2019
20,Austria,INDIA,NEW DELHI,36488.0,34287.0,2199.0,0.060270,2019
22,Austria,IRAN,TEHERAN,5230.0,4288.0,941.0,0.179958,2019
...,...,...,...,...,...,...,...,...
1828,Switzerland,USA,"ATLANTA, GA",1795.0,1784.0,8.0,0.004464,2019
1829,Switzerland,USA,"NEW YORK, NY",3745.0,3629.0,34.0,0.009282,2019
1830,Switzerland,USA,"SAN FRANCISCO, CA",4599.0,4555.0,32.0,0.006976,2019
1831,Switzerland,USA,"WASHINGTON, DC",1173.0,1139.0,24.0,0.020636,2019
1833,Switzerland,VIETNAM,HO CHI MINH,4142.0,3820.0,314.0,0.075955,2019

In [3]:
df[df["visa_refusal_rate"]>1]

Empty DataFrame
Columns: [schengen_state, origin_country, origin_consulate, visas_applied, visas_issued, visas_not_issued, visa_refusal_rate, year]
Index: []

In [4]:
df[df["visa_refusal_rate"].isna()]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
313,Finland,GERMANY,BERLIN,1.0,0.0,0.0,NaN,2019
323,Finland,LITHUANIA,VILNIUS,4.0,0.0,0.0,NaN,2019
344,Finland,SWEDEN,STOCKHOLM,0.0,0.0,0.0,NaN,2019
471,France,POLAND,WARSAW,0.0,0.0,0.0,NaN,2019
523,Germany,BELGIUM,BRUSSELS,2.0,0.0,0.0,NaN,2019
557,Germany,FINLAND,HELSINKI,1.0,0.0,0.0,NaN,2019
686,Greece,AUSTRIA,VIENNA,1.0,0.0,0.0,NaN,2019
792,Hungary,GREECE,ATHENS,1.0,0.0,0.0,NaN,2019
899,Italy,DENMARK,COPENHAGEN,2.0,0.0,0.0,NaN,2019
1050,Lithuania,ITALY,ROME,1.0,0.0,0.0,NaN,2019
1121,Netherlands,ALBANIA,TIRANA,1.0,0.0,0.0,NaN,2019
1141,Netherlands,CONGO (DEMOCRATIC REPUBLIC),KINSHASA,10.0,0.0,0.0,NaN,2019
1171,Netherlands,LUXEMBOURG,LUXEMBOURG,1.0,0.0,0.0,NaN,2019
1188,Netherlands,POLAND,WARSAW,1.0,0.0,0.0,NaN,2019
1198,Netherlands,SLOVAKIA,BRATISLAVA,9.0,0.0,0.0,NaN,2019
1226,Netherlands,YEMEN,SANA'A,1.0,0.0,0.0,NaN,2019
1233,Norway,AUSTRIA,VIENNA,1.0,0.0,0.0,NaN,2019
1240,Norway,CUBA,HAVANA,0.0,0.0,0.0,NaN,2019
1243,Norway,ETHIOPIA,ADDIS ABEBA,0.0,0.0,0.0,NaN,2019
1244,Norway,FRANCE,PARIS,0.0,0.0,0.0,NaN,2019
1251,Norway,ITALY,ROME,0.0,0.0,0.0,NaN,2019
1259,Norway,NETHERLANDS,THE HAGUE,0.0,0.0,0.0,NaN,2019
1500,Slovakia,SLOVAKIA,BRATISLAVA,2.0,0.0,0.0,NaN,2019
1526,Slovenia,HUNGARY,BUDAPEST,2.0,0.0,0.0,NaN,2019
1604,Spain,GERMANY,STUTTGART,2.0,0.0,0.0,NaN,2019
1710,Sweden,CONGO (DEMOCRATIC REPUBLIC),KINSHASA,3.0,0.0,0.0,NaN,2019
1780,Switzerland,GREECE,ATHENS,1.0,0.0,0.0,NaN,2019

In [5]:
df.describe()

,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
count,1834.000000,1834.000000,1834.000000,1807.000000,1834.0
mean,9245.115049,8190.978735,914.954198,0.134796,2019.0
std,34690.851992,32991.212833,3902.963661,0.174173,0.0
min,0.000000,0.000000,0.000000,0.000000,2019.0
25%,80.000000,62.000000,2.000000,0.011761,2019.0
50%,922.000000,752.000000,53.000000,0.061877,2019.0
75%,4806.000000,3909.000000,539.000000,0.199929,2019.0
max,644858.000000,642477.000000,109659.000000,1.000000,2019.0