Clean-up raw Schengen input file and save as silver statistics

In [1]:
import schengentools.visastatsparser as vp
job = vp.Parser(2022)
job.extract('../data/bronze/Visa statistics for consulates in 2022_en.xlsx')
job.transform()
job.load()
df = job.df

Input file loaded into dataframe
Renamed columns
Removed irrelevant rows such as summary rows
Selected columns
Replaced applied, issued and not issued null values with 0
Calculate refusal rate as the not issued share of the total issued and not issued
Added column with year issued and not issued

/opt/miniconda3/envs/myenv/lib/python3.10/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

Data quality checks

In [2]:
df[df["visas_applied"] != df["visas_issued"] + df["visas_not_issued"]]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
0,Austria,ALBANIA,TIRANA,50.0,39.0,6.0,0.133333,2022
1,Austria,ALGERIA,ALGIERS,2047.0,1213.0,831.0,0.406556,2022
3,Austria,AUSTRALIA,CANBERRA,1776.0,1751.0,22.0,0.012408,2022
4,Austria,AZERBAIJAN,BAKU,1788.0,1751.0,33.0,0.018498,2022
5,Austria,BOSNIA AND HERZEGOVINA,SARAJEVO,1543.0,1270.0,13.0,0.010133,2022
...,...,...,...,...,...,...,...,...
1760,Switzerland,USA,"ATLANTA, GA",1336.0,1325.0,10.0,0.007491,2022
1761,Switzerland,USA,"NEW YORK, NY",2386.0,2245.0,66.0,0.028559,2022
1762,Switzerland,USA,"SAN FRANCISCO, CA",2922.0,2733.0,187.0,0.064041,2022
1763,Switzerland,USA,"WASHINGTON, DC",805.0,794.0,4.0,0.005013,2022
1765,Switzerland,VIETNAM,HO CHI MINH,4645.0,4249.0,207.0,0.046454,2022

In [3]:
df[df["visa_refusal_rate"]>1]

Empty DataFrame
Columns: [schengen_state, origin_country, origin_consulate, visas_applied, visas_issued, visas_not_issued, visa_refusal_rate, year]
Index: []

In [4]:
df[df["visa_refusal_rate"].isna()]

,schengen_state,origin_country,origin_consulate,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
62,Belgium,ALBANIA,TIRANA,0.0,0.0,0.0,NaN,2022
136,Belgium,TÃœRKIYE,ANKARA,1.0,0.0,0.0,NaN,2022
305,Finland,LITHUANIA,VILNIUS,0.0,0.0,0.0,NaN,2022
388,France,FRANCE,PARIS,73.0,0.0,0.0,NaN,2022
637,Germany,VENEZUELA,CARACAS,4.0,0.0,0.0,NaN,2022
643,Greece,ALBANIA,KORCE,3.0,0.0,0.0,NaN,2022
798,Hungary,SLOVAKIA,BRATISLAVA,0.0,0.0,0.0,NaN,2022
1009,Lithuania,AUSTRALIA,CANBERRA,0.0,0.0,0.0,NaN,2022
1012,Lithuania,BRAZIL,RIO DE JANEIRO,0.0,0.0,0.0,NaN,2022
1014,Lithuania,CHINA,BEIJING,0.0,0.0,0.0,NaN,2022
1071,Malta,MALTA,VALETTA,0.0,0.0,0.0,NaN,2022
1086,Netherlands,AUSTRIA,VIENNA,0.0,0.0,0.0,NaN,2022
1104,Netherlands,CYPRUS,NICOSIA,1.0,0.0,0.0,NaN,2022
1105,Netherlands,CZECH REPUBLIC,PRAGUE,2.0,0.0,0.0,NaN,2022
1106,Netherlands,DENMARK,COPENHAGEN,0.0,0.0,0.0,NaN,2022
1119,Netherlands,INDIA,BANGALORE,0.0,0.0,0.0,NaN,2022
1120,Netherlands,INDIA,MUMBAI,0.0,0.0,0.0,NaN,2022
1128,Netherlands,ITALY,ROME,0.0,0.0,0.0,NaN,2022
1135,Netherlands,LUXEMBOURG,LUXEMBOURG,1.0,0.0,0.0,NaN,2022
1149,Netherlands,PANAMA,PANAMA CITY,0.0,0.0,0.0,NaN,2022
1152,Netherlands,POLAND,WARSAW,1.0,0.0,0.0,NaN,2022
1153,Netherlands,PORTUGAL,LISBON,0.0,0.0,0.0,NaN,2022
1163,Netherlands,SLOVAKIA,BRATISLAVA,4.0,0.0,0.0,NaN,2022
1164,Netherlands,SLOVENIA,LJUBLJANA,0.0,0.0,0.0,NaN,2022
1168,Netherlands,SPAIN,MADRID,1.0,0.0,0.0,NaN,2022
1173,Netherlands,SWITZERLAND,BERN,0.0,0.0,0.0,NaN,2022
1206,Norway,KOSOVO,PRISTINA,1.0,0.0,0.0,NaN,2022
1352,Portugal,GREECE,ATHENS,1.0,0.0,0.0,NaN,2022
1371,Portugal,POLAND,WARSAW,2.0,0.0,0.0,NaN,2022
1406,Slovakia,AUSTRIA,VIENNA,0.0,0.0,0.0,NaN,2022
1409,Slovakia,BOSNIA AND HERZEGOVINA,SARAJEVO,0.0,0.0,0.0,NaN,2022
1418,Slovakia,CZECH REPUBLIC,PRAGUE,0.0,0.0,0.0,NaN,2022
1420,Slovakia,FRANCE,PARIS,0.0,0.0,0.0,NaN,2022
1421,Slovakia,GERMANY,BERLIN,0.0,0.0,0.0,NaN,2022
1422,Slovakia,GREECE,ATHENS,0.0,0.0,0.0,NaN,2022
1436,Slovakia,POLAND,WARSAW,0.0,0.0,0.0,NaN,2022
1443,Slovakia,SPAIN,MADRID,0.0,0.0,0.0,NaN,2022
1458,Slovenia,AUSTRIA,VIENNA,1.0,0.0,0.0,NaN,2022
1674,Sweden,TANZANIA,DAR ES SALAAM,1.0,0.0,0.0,NaN,2022
1718,Switzerland,ITALY,MILAN,2.0,0.0,0.0,NaN,2022
1738,Switzerland,POLAND,WARSAW,1.0,0.0,0.0,NaN,2022

In [5]:
df.describe()

,visas_applied,visas_issued,visas_not_issued,visa_refusal_rate,year
count,1766.000000,1766.000000,1766.000000,1725.000000,1766.0
mean,4288.083239,3363.474519,749.048131,0.151446,2022.0
std,11787.720881,9443.863255,2736.099370,0.176655,0.0
min,0.000000,0.000000,0.000000,0.000000,2022.0
25%,52.250000,43.000000,2.000000,0.017801,2022.0
50%,608.500000,483.500000,39.000000,0.086510,2022.0
75%,3035.000000,2274.250000,443.000000,0.234437,2022.0
max,155896.000000,144317.000000,66111.000000,1.000000,2022.0